@{ ViewBag.ViewTitle = "Breast Cancer Information"; }
@Html.Partial("~/Views/Dashboard/_Layout/_MasterViewHeader.cshtml")

<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item"
            src="https://www.youtube.com/embed/yTHyMNBkbOY"
            frameborder="0"
            allowfullscreen
            onload="initView();"
            style="width:98%; height:98%"></iframe>
</div>

@Html.Partial("~/Views/Dashboard/_Layout/_MasterViewFooter.cshtml")
