@{
    string controllerName = @"UserChangePasswordForm";
}

@{ ViewBag.ViewTitle = "Change Password"; }
@Html.Partial("~/Views/Dashboard/_Layout/_SmallFormHeader.cshtml")

<form id="@(controllerName)Frm"
      role="form"
      onsubmit="return false"
      ng-controller="@(controllerName)Controller">

    <div class="form-group">
        <label class="control-label">Old Password</label>
        <input class="form-control"
               type="password"
               name="oldpassword"
               placeholder="Old Password"
               data-ng-model="model.OldPassword"
               data-bv-notempty="true" />
    </div>
    <div class="form-group">
        <label class="control-label">New Password</label>
        <input class="form-control"
               type="password"
               name="password"
               placeholder="New Password"
               data-ng-model="model.NewPassword"
               data-bv-notempty="true" />
    </div>
    <div class="form-group">
        <label class="control-label">Confirm new Password</label>
        <input class="form-control"
               type="password"
               name="confirmpassword"
               placeholder="New Password"
               data-ng-model="model.ConfirmNewPassword"
               data-bv-notempty="true" />
    </div>

    <button class="btn btn-lg btn-success"
            ng-click="ChangePassword()">
        Change Password
    </button>
</form>

@Html.Partial("~/Views/Dashboard/_Layout/_SmallFormFooter.cshtml")