@{
    string controllerName = @"UserChangePasswordDialog";
}
<!-- Change password dialog -->

<div id="@(controllerName)Dlg"
     class="modal fade bs-copyrange-modal-sm"
     tabindex="-1" role="dialog"
     aria-labelledby="@(controllerName)Label"
     aria-hidden="true"
     ng-controller="@(controllerName)Controller">

    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Change Password</h4>
            </div>
            <div class="modal-body">
                <form id="@(controllerName)Frm" role="form" onsubmit="return false">
                    <div class="form-group">
                        <label class="control-label">Old Password</label>
                        <input class="form-control"
                               type="password"
                               name="oldpassword"
                               placeholder="Old Password"
                               data-ng-model="model.OldPassword"
                               data-bv-notempty="true" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">New Password</label>
                        <input class="form-control"
                               type="password"
                               name="newpassword"
                               placeholder="New Password"
                               data-ng-model="model.NewPassword"
                               data-bv-notempty="true" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Confirm new Password</label>
                        <input class="form-control"
                               type="password"
                               name="confirmpassword"
                               placeholder="New Password"
                               data-ng-model="model.ConfirmNewPassword"
                               data-bv-notempty="true" />
                    </div>
                </form>

            </div>


            <div class="modal-footer">
                <button class="btn btn-success"
                        ng-click="ChangePassword()">
                    Change Password
                </button>
            </div>
        </div>
    </div>
</div>


<!-- end Change Password dialog -->