@{
    string entityName = "User";
    string controllerTitle = entityName + "UploadProfilePhoto";
}

@{ ViewBag.ViewTitle = "Upload profile photo"; }
@Html.Partial("~/Views/Dashboard/_Layout/_SmallFormHeader.cshtml")

<h1>We are sorry, but this part is still under development. Please try later.</h1>

@Html.Partial("~/Views/Dashboard/_Layout/_SmallFormFooter.cshtml")