<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an atrribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>

  <applicationSetting>

    <!--<exceptionHandling xdt:Transform="SetAttributes"
                       showDebug="false">
    </exceptionHandling>-->

    <project xdt:Transform="SetAttributes"
             
             websiteUrl="https://www.xecare.com/"     
             videoServiceHost="10.110.49.76:8090/VideoMeeting"   
             videoMeetingName="TestVisit"    
             videoDefaultConnectionType="rtmp"   
             isDebug="false" 
             mainDomainName="xecare.com">
    </project>
    
    <!--<paypal xdt:Transform="SetAttributes"
            
            endpoint="api.paypal.com"
            senderRedirectUrl="https://www.paypal.com/webscr&amp;cmd=_ap-payment&amp;paykey="
            senderRedirectMobileUrl="https://www.paypal.com/webapps/adaptivepayment/flow/pay?paykey="
            isSandBox="false"
            >

    </paypal>-->
    
    <twilio xdt:Transform="SetAttributes"
            
            enabled="true">
    </twilio>

    <databaseContexts xdt:Transform="Replace">
      <context name="default" 
               settingsPath="_Config\NHibernateDefaultContextRelease.config"
               isTransactional="true"
               >
      </context>
    </databaseContexts>
    
  </applicationSetting>
  
</configuration>
