
<!-- Doctor Profile Dialog -->
<div id="DoctorProfileDialogDlg"
     class="modal fade bs-doctorProfile-modal-sm"
     tabindex="-1"
     role="dialog"
     aria-labelledby="mydoctorProfileLabel"
     aria-hidden="true"
     ng-controller="DoctorProfileDialogController">

    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title"><label ng-bind="model.DoctorFullName"></label></h4>
            </div>
            <div class="modal-body">
                @Html.Partial("~/Views/Dashboard/Doctor/Profile.cshtml")
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>
<!-- end Doctor Profile Dialog -->

