
<!-- Doctor Search By Phone Dialog -->
<div id="DoctorSearchByPhoneDialogDlg"
        class="modal fade"
        tabindex="-1"
        role="dialog"
        aria-labelledby="mysearchDoctorLabel"
        aria-hidden="true"
        ng-controller="DoctorSearchByPhoneDialogController">

    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" data-target="#searchDoctorDialog">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">Find a doctor</h4>
            </div>
            <div class="modal-body">
                @Html.Partial("~/Views/Dashboard/Doctor/SearchByPhoneForm.cshtml")
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>
 <!-- End Doctor Search By Phone Dialog -->
