<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="~/Content/Images/favicons/favicon.png">
    <title>Xecare CometCare COMET Care</title>

    <link href="~/Content/Styles/font-awesome.min.css" rel="stylesheet" />
    <!-- Bootstrap core CSS -->
    <link href="~/Scripts/bootstrap-3.2.0-dist/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="~/Content/Styles/landingpage.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <!-- Facebook Script -->
    <div id="fb-root"></div>
    <script>
(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=191185702156&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
    <!-- End Facebook Script -->

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><b><i class="fa fa-stethoscope" title=""></i> Xecare CometCare</b><sub>beta</sub></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="~/Default/Login">Login</a></li>
                    <li><a href="~/Default/Signup">Signup</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
    <div id="headerwrap">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h1>
                        Health care made simple
                    </h1>
                    @*<form class="form-inline" role="form">
                      <div class="form-group">
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter your email address">
                      </div>
                      <button type="submit" class="btn btn-warning btn-lg">Keep me updated!</button>
                    </form>*@

                    <div style="float:left; padding-top:3px; padding-right:5px">
                        <a href="https://twitter.com/Xecare CometCare" class="twitter-follow-button" data-show-count="true">Follow</a>
                        <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>
                    </div>
                    <!-- Facebook Like Button -->
                    <div style="">
                        <div class="fb-like" data-href="https://www.facebook.com/Xecare CometCare" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>
                    </div>                
                    <!-- End Facebook Like Button -->


                </div><!-- /col-lg-6 -->
                <div class="col-lg-6">
                    <img class="img-responsive" src="~/Content/Images/LandingPage/ipad-hand.png" alt="">
                </div><!-- /col-lg-6 -->

            </div><!-- /row -->
        </div><!-- /container -->
    </div><!-- /headerwrap -->


    <div class="container">
        <div class="row mt centered">
            <div class="col-lg-6 col-lg-offset-3">
                <h1>Features</h1>
                <h3>Xecare CometCare is for both doctors and patients.</h3>
            </div>
        </div><!-- /row -->

        <div class="row mt centered">
            <div class="col-lg-4">
                <img src="~/Content/Images/LandingPage/ser03.png" width="180" alt="">
                <h4>Online Scheduling</h4>
                <p>Both doctors and patients can schedule an appointment online and using their cell phones.</p>
            </div><!--/col-lg-4 -->
            <div class="col-lg-4">
                <img src="~/Content/Images/LandingPage/ser03.png" width="180" alt="">
                <h4>Available everywhere</h4>
                <p>You can use our Android or iOS app for both cellphones or tablets or use our website anywhere</p>
            </div><!--/col-lg-4 -->
            <div class="col-lg-4">
                <img src="~/Content/Images/LandingPage/ser03.png" width="180" alt="">
                <h4>Reports and Prescriptions</h4>
                <p>Doctors can write reports and prescriptions after each visit</p>
            </div><!--/col-lg-4 -->

            <div class="col-lg-4">
                <img src="~/Content/Images/LandingPage/ser03.png" width="180" alt="">
                <h4>Medical history records</h4>
                <p>Patients can enter their medical history information, and doctors can access it any time.</p>
            </div><!--/col-lg-4 -->


            <div class="col-lg-4">
                <img src="~/Content/Images/LandingPage/ser03.png" width="180" alt="">
                <h4>Online video meeting</h4>
                <p>Doctors and patients can meet online using their cellphone or tablets</p>
            </div><!--/col-lg-4 -->

            <div class="col-lg-4">
                <img src="~/Content/Images/LandingPage/ser03.png" width="180" alt="">
                <h4>Online payment</h4>
                <p>Patients can pay for a visit online using PayPal or any major credit card</p>
            </div><!--/col-lg-4 -->

        </div><!-- /row -->
    </div><!-- /container -->
    <!-- <div class="container">
        <hr>
        <div class="row centered">
            <div class="col-lg-6 col-lg-offset-3">
                <form class="form-inline" role="form">
                  <div class="form-group">
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter your email address">
                  </div>
                  <button type="submit" class="btn btn-warning btn-lg">Invite Me!</button>
                </form>

            </div>
            <div class="col-lg-3"></div>
        </div>
        <hr>
    </div> --->
    <!-- /container -->

    <div class="container">
        <div class="row mt centered">
            <div class="col-lg-6 col-lg-offset-3">
                <h1>Screen shots</h1>
                <h3>Xecare CometCare provides a user friendly environment for doctors and patients to visit online.</h3>
            </div>
        </div><!-- /row -->
        <! -- CAROUSEL -->
        <div class="row mt centered">
            <div class="col-lg-6 col-lg-offset-3">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="4"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="~/Content/Images/LandingPage/p01.png" alt="">
                        </div>
                        <div class="item">
                            <img src="~/Content/Images/LandingPage/p02.png" alt="">
                        </div>
                        <div class="item">
                            <img src="~/Content/Images/LandingPage/p03.png" alt="">
                        </div>
                        <div class="item">
                            <img src="~/Content/Images/LandingPage/p04.png" alt="">
                        </div>
                        <div class="item">
                            <img src="~/Content/Images/LandingPage/p05.png" alt="">
                        </div>
                    </div>
                </div>
            </div><!-- /col-lg-8 -->
        </div><!-- /row -->
    </div><!--/container -->

    <div class="container">

        <div class="row mt centered">
            <div class="col-lg-6 col-lg-offset-3">
                <h1>Twitter News</h1>
                <a class="twitter-timeline" href="https://twitter.com/Xecare CometCare" data-widget-id="572301725189431296">Tweets by @@Xecare CometCare</a>
                <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + "://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>
            </div>
        </div><!-- /row -->

    </div>


    <div class="container">
        <hr>
        <div class="row centered">
            <div class="col-lg-6 col-lg-offset-3">
                © 2015 Xecare CometCare. All rights reserved. |<a target="_blank" href="~/Default/Terms">Terms of Service</a>|<a target="_blank" href="~/Default/PrivacyPolicy"> Privacy Policy</a>
            </div>
            <div class="col-lg-3"></div>
        </div><!-- /row -->
        <hr>
        <p class="centered" style="font-size:xx-small"><small>This page is created using a modified version of Flatty template provided by BlackTie.co - 2013</small></p>
    </div><!-- /container -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script src="~/Scripts/jquery-2.1.1.min.js"></script>
    <script src="~/Scripts/bootstrap-3.2.0-dist/js/bootstrap.min.js"></script>

    @*<script src="~/Scripts/jquery-cookie/jquery.cookie.js"></script>
    @Html.Partial("~/Views/Layouts/Partials/_UnsupportedBrowserDialog.cshtml")*@

    @Html.Partial("~/Views/Layouts/Partials/_GoogleAnalytics.cshtml", new GoogleAnlyticsViewModel() { RenderAngularJS = false })

</body>
</html>
