
<div class="modal fade" id="NoCookiesDialog" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                @*<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>*@
                <img src="~/Content/Images/Misc/cross-small.png" style="float:left" /><h4 class="modal-title">&nbsp;&nbsp;&nbsp;Cookies are not enabled</h4>
            </div>
            <div class="modal-body" style="background-color:#f7f7f7">
                <p>We are sorry, but our website uses cookies to store some data. Please enable cookies for your browser to continue.</p>
                <div style="margin-top: 0px;">
                    <strong>For Google Chrome</strong>
                    <ol>
                        <li>Select the Chrome menu icon.</li>
                        <li>Select <strong>Settings</strong>.</li>
                        <li>Near the bottom of the page, select <strong>Show advanced settings</strong>.</li>
                        <li>In the "Privacy" section, select <strong>Content settings</strong>.</li>
                        <li>Select <strong>Allow local data to be set (recommended)</strong>.</li>
                        <li>Select <strong>Done</strong>.</li>
                    </ol>
                    <p>For other platforms visit <a href="http://statcounter.com/support/knowledge-base/80/" target="_blank">http://statcounter.com/support/knowledge-base/80/</a></p>
                    @*<div>
                            <p>
                                <b>Internet Explorer 7 and 8</b>
                                <br>
                                <br>1.  Click the Tools button (or press ALT and T on the keyboard), and then click Internet Options.
                                <br>2. Click the Privacy tab
                                <br>3. Move the slider to the bottom to allow all cookies, and then click OK.
                                <br>
                                <br><b>Firefox</b>
                                <br>1. At the top of the Firefox window, click on the Tools menu and select Options...
                                <br>2. Select the Privacy panel.
                                <br>3. Set Firefox will: to Use custom settings for history.
                                <br>4. Make sure Accept cookies from sites is selected.
                                <br>5. Make sure Accept third party cookies is selected.
                                <br> * Disabling third party cookies can cause problems with some websites including statcounter.com. Enable this setting to rule it out as a cause for your problem.
                                <br>6. Click Exceptions....
                                <br>7. Make sure statcounter.com isn't listed.
                                <br>* If it is listed, click on its entry, then click Remove Site
                                <br>
                                <br><b>Safari Browser</b>
                                <br>1. Click Safari icon in Menu Bar
                                <br>2. Click Preferences (gear icon)
                                <br>3. Click Security icon
                                <br>4. Accept cookies: select Radio button "only from sites I visit"
                                <br>5. Close
                                <br>
                                <br><b>Chrome</b>
                                <br>1. Click the menu icon to the right of the address bar (looks like 3 lines)
                                <br>2. Click Settings
                                <br>3. Click the "Show advanced settings" tab at the bottom
                                <br>4. Click the "Content settings..." button in the Privacy section
                                <br>5. At the top under Cookies make sure it is set to "Allow local data to be set (recommended)"
                                <br>
                                <br><b>Opera</b>
                                <br>
                                <br>1. Click the red O button in the upper left hand corner
                                <br>2. Select Settings -&gt; Preferences
                                <br>3. Select the Advanced Tab
                                <br>4. Select Cookies in the list on the left side
                                <br>5. Set it to "Accept cookies" or "Accept cookies only from the sites I visit"
                                <br>6. Click OK
                                <br>
                                <br><b>Windows IE 6.x Browser</b>
                                <br>1. Select Tools
                                <br>2. Select Internet Options
                                <br>3. Select the Privacy tab.
                                <br>4. Select Advanced
                                <br>5. Deselect override automatic cookie handling button
                                <br>6. Click on the OK button at the bottom of the screen.
                                <br>7. Click OK to exit
                                <br>8. Select Tools
                                <br>9. Select Internet Options
                                <br>10. Select Delete Cookies
                                <br>11. Select Tools
                                <br>12. Select Internet Options
                                <br>13. Select Delete Files
                                <br>14. Close down all open Internet Explorer Browsers
                                <br>15. Load it back up again and logon to StatCounter!
                                <br>
                                <br><b>Windows IE 5.x Browser</b>
                                <br>1. Go to Tools on the menu bar
                                <br>2. Pick Internet Options
                                <br>3. Click the Security tab
                                <br>4. Select the Custom Level tab
                                <br>5. Under "Allow Cookies that are stored on your computer" click "Enable"
                                <br>6. Under "Allow per-session cookies (not stored)" click "Enable"
                                <br>7. Select OK, Yes you want to save the settings
                                <br>
                                <br><b>AOL 8.0</b>
                                <br>1. From the AOL Toolbar, select Settings.
                                <br>2. Select Preferences
                                <br>3. Select Internet Properties (WWW)
                                <br>4. Select the Privacy tab
                                <br>5. Select Advanced
                                <br>6. Deselect override automatic cookie handling button
                                <br>7. Click OK to exit.
                                <br>
                                <br><b>AOL 7.0 with IE 6.x</b>
                                <br>1. From the AOL Toolbar, select Settings.
                                <br>2. Select Preferences
                                <br>3. Select Internet Properties (WWW)
                                <br>4. Select the Privacy tab
                                <br>5. Select Advanced
                                <br>6. Deselect override automatic cookie handling button
                                <br>7. Click OK to exit.
                                <br>
                                <br><b>AOL 7.0 with IE 5.5</b>
                                <br>1. From the AOL Toolbar, select Settings.
                                <br>2. Select Preferences
                                <br>3. Select Internet Properties (WWW)
                                <br>4. Select the Security tab
                                <br>5. Select the Custom Level tab
                                <br>6. Under "Allow Cookies that are stored on your computer" click "Enable"
                                <br>7. Under "Allow per-session cookies (not stored)" click "Enable"
                                <br>8. Select OK, Yes you want to save the settings
                                <br>
                                <br><b>Netscape 7.x</b>
                                <br>1. Click Edit on the Toolbar.
                                <br>2. Click Preferences
                                <br>3. Click the Privacy and Security category; expand the list to show the subcategories.
                                <br>4. Click Cookies
                                <br>5. Three options are displayed. Click the appropriate choice:
                                <br>6. Disable cookies
                                <br>7. Enable cookies for the originating web site only
                                <br>8. Enable all cookies
                                <br>9. If you want to be notified when a web site tries to set a cookie, select "Warn me before accepting a cookie."
                                <br>
                                <br><b>Netscape 6.x</b>
                                <br>1. Click Edit on the Toolbar.
                                <br>2. Click Preferences
                                <br>3. Click the Privacy and Security category; expand the list to show the subcategories.
                                <br>4. Click Cookies
                                <br>5. Three options are displayed. Click the appropriate choice:
                                <br>6. Disable cookies
                                <br>7. Enable cookies for the originating web site only
                                <br>8. Enable all cookies
                                <br>9. If you want to be notified when a web site tries to set a cookie, select "Warn me before accepting a cookie."
                                <br>
                                <br><b>Netscape 4.x</b>
                                <br>1. Go to Edit on the menu bar
                                <br>2. Pick Preferences
                                <br>3. Go to the Advanced option on the Category menu
                                <br>4. Click the check box next to "Accept All Cookies"
                                <br>5. Click OK
                                <br>
                                <br><b>Netscape 3.x Clients</b>
                                <br>1. Go to Options on the menu bar
                                <br>2. Pick Network Preferences
                                <br>3. Click the Languages tab
                                <br>4. Click the checkbox next to "Enable Java"
                                <br>5. Click OK
                                <br>
                                <br><b>Mac IE 5.x</b>
                                <br>1. Click Edit
                                <br>2. Select Preferences
                                <br>3. Under the Receiving Files option, select Cookies
                                <br>4. Under "When receiving cookies:" select the desired level of cookie acceptance
                                <br>5. Under "When receiving cookies:" select the desired level of cookie acceptance
                                <br>6. Click OK to finish
                                <br>
                                <br><b>Firefox Browser on Mac</b>
                                <br>1. Click the Firefox icon in menu bar
                                <br>2. Click Preferences
                                <br>3. Click on Privacy icon
                                <br>4. Cookies check accept
                                <br>5. Keep until: "ask me every time" drop down menu
                                <br>6. Close
                            </p>
                        </div>*@
                </div>
                <p>Without cookies, some features may not work properly including login.</p>
            </div>
            @*<div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">I understand</button>
                </div>*@
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


    @*http://stackoverflow.com/questions/9894339/disallow-twitter-bootstrap-modal-window-from-closing*@

<script type="text/javascript">
    $(function () {
        if (cookiesEnabled() == false)
            $('#NoCookiesDialog').modal({
                backdrop: 'static',
                show: true
            });
    });

    function cookiesEnabled() {
        $.cookie("check", null, { path: '/' });
        return $.cookie('check', 'valid', { expires: 1 }) && $.cookie('check') == 'valid';
    }

</script>

