@* Put at the top of the page to show loading when rendering the page *@
<!-- Page main loading mask-->
<div id="mainloading-mask"></div>
<div id="mainloading">
    <div class="mainloading-indicator">
        <div class="mainloading-text">@(Framework.Common.i18nText.Create("web.view.layouts.loadingmask", "loading..."))</div>
    </div>
</div>
<!-- End Page main loading mask-->

