@{
    var entityName = "VitalValue";
    var entity = Framework.Common.EntityFactory.GetEntityInfoByName(entityName, "");
}

@{ ViewBag.ViewTitle = "Pain Level"; }
@Html.Partial("~/Views/Dashboard/_Layout/_MasterViewHeader.cshtml")

<form role="form"
      ng-controller="@(entityName)PainLevelFormController"
      id="@(entityName)PainLevelFormFrm"
      onsubmit="return false;">

    <div class="row">
        <div class="col-md-12">
            <h3>Please select your pain level from 1-10</h3>

            <div class="hidden-sm hidden-xs">
                <div data-ngraty="dataValueRatyOptions"
                     ng-model="model.DataValue" style="width:500px"></div>
            </div>

            <br />

            <select id="precision-hint" class="input hint" ng-model="model.DataValue">
                <option value="">--</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>

            @*<div id="precision-hint" class="input hint" ng-bind="model.DataValue"></div>*@
        </div>
    </div>

    <hr />

    <div class="form-group">
        <button class="btn btn-lg btn-success btn-block"
                ng-click="Save($event)">
            Save
        </button>
    </div>

</form>


@Html.Partial("~/Views/Dashboard/_Layout/_MasterViewFooter.cshtml")
