@{ ViewBag.ViewTitle = "Professional info"; }
@Html.Partial("~/Views/Dashboard/_Layout/_MasterViewHeader.cshtml")

<div class="row">
    <div class='list-group gallery'>
        <div class='col-sm-3 col-xs-4 col-md-3 col-lg-2'>
            <a class="thumbnail" href="#Doctor-Form">
                <img class="img-responsive" alt="" src="~/Content/Images/Menu/ProfessionalInfo2.jpg" />
                <div>
                    <span class='item-title'>Basic Info</span>
                </div> <!-- text-right / end -->
            </a>
        </div> <!-- col-6 / end -->
        <div class='col-sm-3 col-xs-4 col-md-3 col-lg-2'>
            <a class="thumbnail" href="#Doctor_USState-TwoKey">
                <img class="img-responsive" alt="" src="~/Content/Images/Menu/USStates.jpg" />
                <div>
                    <span class='item-title'>Licensed States</span>
                </div> <!-- text-right / end -->
            </a>
        </div> <!-- col-6 / end -->
        <div class='col-sm-3 col-xs-4 col-md-3 col-lg-2'>
            <a class="thumbnail" href="#Doctor_Insurance-TwoKey">
                <img class="img-responsive" alt="" src="~/Content/Images/Menu/Insurance.jpg" />
                <div>
                    <span class='item-title'>Insurance</span>
                </div> <!-- text-right / end -->
            </a>
        </div> <!-- col-6 / end -->
        <div class='col-sm-3 col-xs-4 col-md-3 col-lg-2'>
            <a class="thumbnail" href="#Doctor_Specialty-TwoKey">
                <img class="img-responsive" alt="" src="~/Content/Images/Menu/Specialty.jpg" />
                <div>
                    <span class='item-title'>Specialty</span>
                </div> <!-- text-right / end -->
            </a>
        </div> <!-- col-6 / end -->
        <div class='col-sm-3 col-xs-4 col-md-3 col-lg-2'>
            <a class="thumbnail" href="#User_Language-TwoKey">
                <img class="img-responsive" alt="" src="~/Content/Images/Menu/Languages.jpg" />
                <div>
                    <span class='item-title'>Languages</span>
                </div> <!-- text-right / end -->
            </a>
        </div> <!-- col-6 / end -->
    </div> <!-- list-group / end -->
</div> <!-- row / end -->

@Html.Partial("~/Views/Dashboard/_Layout/_MasterViewFooter.cshtml")
