<?xml version="1.0" encoding="utf-8" ?>
<!--<hibernate-configuration  xmlns="urn:nhibernate-configuration-2.2" >
  <session-factory name="northwind">
    <property name="dialect">NHibernate.Dialect.MsSql2005Dialect</property>
    <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
    <property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
    <property name="connection.connection_string">Data Source=YOUR_DB_SERVER;Database=Northwind;User ID=YOUR_USERNAME;Password=YOUR_PASSWORD;</property>
    <property name="connection.isolation">ReadCommitted</property>
    <property name="default_schema">Northwind.dbo</property>
    -->
<!-- HBM Mapping Files -->
<!--
    <mapping assembly="UTD.Tricorder.Common" />
  </session-factory>
</hibernate-configuration>-->

<hibernate-configuration  xmlns="urn:nhibernate-configuration-2.2" >
  <session-factory name="default">
    <property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
    <property name="connection.connection_string">
      Server=.\sqlexpress;initial catalog=Tricorder2;Integrated Security=SSPI
    </property>
    <property name="dialect">NHibernate.Dialect.MsSql2008Dialect</property>
    <property name="connection.isolation">ReadCommitted</property>
    <property name="hbm2ddl.keywords">auto-quote</property>
    
    <mapping assembly="UTD.Tricorder.Common" />
  </session-factory>
</hibernate-configuration>